@model mvctest.Models.Customers
<div class="hero-wrap" style="background-image: url('../images/maldives-1.jpeg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    @*<p class="breadcrumbs mb-2"><span>Registration</span></p>*@
                    <h1 class="mb-4 bread">Register Here</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<h2>Registration</h2>

<hr />
<div class="row">
    <div>
        <form asp-controller="Customers" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="CustFirstName" class="control-label">First Name: </label>
                    <input asp-for="CustFirstName" class="form-control" />
                    <span asp-validation-for="CustFirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CustLastName" class="control-label">Last Name: </label>
                    <input asp-for="CustLastName" class="form-control" />
                    <span asp-validation-for="CustLastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label asp-for="CustAddress" class="control-label">Address: </label>
                    <input asp-for="CustAddress" class="form-control" />
                    <span asp-validation-for="CustAddress" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CustCity" class="control-label">City: </label>
                    <input asp-for="CustCity" class="form-control" />
                    <span asp-validation-for="CustCity" class="text-danger"></span>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group col-md-1">
                    <label asp-for="CustProv" class="control-label">Province: </label>
                    <input asp-for="CustProv" class="form-control" placeholder="XX"/>
                    <span asp-validation-for="CustProv" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="CustPostal" class="control-label">Postal Code: </label>
                    <input asp-for="CustPostal" class="form-control" placeholder="*** ***"/>
                    <span asp-validation-for="CustPostal" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CustCountry" class="control-label">Country: </label>
                    <input asp-for="CustCountry" class="form-control" />
                    <span asp-validation-for="CustCountry" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="CustHomePhone" class="control-label">Home Phone: </label>
                    <input asp-for="CustHomePhone" class="form-control" />
                    <span asp-validation-for="CustHomePhone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="CustBusPhone" class="control-label">Business Phone: </label>
                    <input asp-for="CustBusPhone" class="form-control" />
                    <span asp-validation-for="CustBusPhone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-offset-1 col-md-1">
                    <label asp-for="AgentId" class="control-label">Agent ID: </label>
                    <input asp-for="AgentId" class="form-control" placeholder="#"/>
                    <span asp-validation-for="AgentId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="CustEmail" class="control-label">Email: </label>
                    <input asp-for="CustEmail" class="form-control" placeholder="email@address.com"/>
                    <span asp-validation-for="CustEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="PasswordNotHashed" class="control-label">Password: </label>
                    <input asp-for="PasswordNotHashed" class="form-control" />
                    <span asp-validation-for="PasswordNotHashed" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" value="Register" class="btn btn-default" />
        </form>
    </div>
</div>
@Html.ValidationSummary()
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
